*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Aron';
    src: url('../../fonts/Aron-ExtraBold-BF6556dd3e2d89f.woff') format('woff');
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: #121516;
    font-family: 'Aron', sans-serif;
    overflow-x: hidden;
}

header .container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 25px auto;
    color: white;
}
header nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 20px;
    font-size: 14px;
}
header a {
    text-decoration: none;
    color: white;
    padding: 0px 10px 10px 0px;
    position: relative;
}
header .main-nav a::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #CED0D0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header .main-nav a:hover::after{
    width: 100%;
}
.logo{
    display: none;
}
.icon-links{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.icon-links a:hover{
    transform: translateY(-4px);
    
}
.icon-links a{
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}
/* Menu toggle button */
.menu-toggle {
    display: none;
    font-size: 40px;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s ease-in-out;
}

.sidebar a:hover {
    color: #CED0D0;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 46px;
    margin-left: 50px;
}
/* Home */
.background-image {
    height: 1000px; 
    width: 100%;
    background-image: url(../../images/background-desktop.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
}

.image-container a {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.image-container a:hover {
    transform: translateY(-4px);
}

/* Agenda */
#agenda {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#agenda .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.agenda-h1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align: center;
}

#agenda h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    text-align: left;
}

#agenda .back-card {
    background-color: #CED0D0;
    width: 100%;
    height: 400px;
    max-width: 650px;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 7%;
}

#agenda .card {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#agenda .card-agenda {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

#agenda .card p:nth-child(1) {
    font-size: 65px;
}

#agenda .card p:last-child {
    font-size: 20px;
    color: #585858;
}

#agenda .info {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: flex-start;
}

#agenda .info h3 {
    color: #121516;
    font-size: 26px;
}

#agenda .info p {
    color: #121516;
    font-size: 14px;
    max-width: 200px;
}

#agenda .info a {
    color: #121516;
}

#video iframe{
    margin: 100px auto;
    width: 100%;
    height: 70vh;
}

#musicas {
    background-image: url(../../images/background-desktop-plataformas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

#musicas h1 {
    color: white;
    font-size: 80px;
    text-align: left; /* Centraliza o título */
}

#musicas .msc-h1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align: left;
}

#musicas .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#musicas .container-dir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 0 auto;
}

#musicas .container-dir .plataformas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 15px auto;
    align-items: center;
    
}
#musicas .plataformas a{
    transition: 0.4s ease-in-out;
}
#musicas .plataformas a:hover{
    transform: translateY(-3px);
}
#musicas iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
    border-radius: 12px;
}
#msc-yout{
    background-image: url(../../images/background-desktop-youtube.png);
    background-repeat: no-repeat;
    background-position: auto;
    height: 900px;
    margin: 0 auto;
}
#msc-yout .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#msc-yout h3{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 20px auto;
}
#contato{
    background-image: url(../../images/background-desktop-redes.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: -20px auto;
}
#contato .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.contato-h1 {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    text-align: center;
}
#contato h3{
    color: #CED0D0;
    text-align: center;
    text-align: left;
}
#contato h1 {
    color: white;
    font-size: 80px;
    text-align: center;
    text-align: left;
}
#contato .container-dir{
    margin: 0 auto;
}
#contato .redes-socias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 100%;
}
#contato .redes-socias a{
    transition: 0.4s ease-in-out;
}
#contato .redes-socias a:hover{
    transform: translateY(-3px);
}
footer{
    margin: 0 auto;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content img {
    max-width: 100px;
    height: auto;
}

.footer-content .center-image {
    order: 1;
}

.footer-content p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    order: 2;
    color: white;
    font-size: 10px;
}

.footer-content .right-image {
    order: 3;
}
#nmr-contato{
    margin-bottom: 10px;
}
#nmr-contato .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 1200px;
}
#nmr-contato .shows, .Publi, .Imprensa, #nmr-contato a{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    text-align: center;
    gap: 5px;
}
#nmr-contato h2{
    color: #CED0D0;
    margin-bottom: 2px;
}
#central{
    background-image: url(../../images/background-desktop-central.png);
    background-repeat: no-repeat;
    background-position: auto -10px;
    height: 900px;
    justify-content: center;
    display: flex;
    margin: -150px auto;
}
#central .container{
    width: 1000px;
    align-items: left;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
    flex-direction: column;
}
#central .container h1{
    color: white;
    font-size: 80px;
    text-align: left;
    width: 200px;
}
#central .container p{
    color: #CED0D0;
    margin-bottom: 15px;
    width: 300px;
}
#central .container button{
    width: 200px;
    height: 50px;
    font-family: 'Aron';
    background-color: #11111100;
    border: 2px solid #CED0D0;
    color: white;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
#central .container button:hover{
    background-color: #CED0D0;
    color: black;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o loader horizontalmente */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

/* Estilo para as barras do loader */
.bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: #3d84c7;
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #246199;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}
@media (max-width: 575.98px) {
    .background-image {
        height: 100vh;
        width: 100%;
        background-image: url(../../images/background-mobile.png);
        background-size: cover;
        background-position: center;
    }
    .image-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin: -30px auto;
        gap: 12px;
        width: 400px;
    }
    .image-container img {
        margin-bottom: 20px;
        width: 92%;
        margin: 0 auto;
    }
    .menu-toggle {
        display: block;
    }
    header nav, .icon-links {
        display: none;
    }
    header .container{
        width: 80%;
    }
    .logo{
        display: flex;
        width: 100px;
    }

    #agenda .container {
        width: 500px;
        margin: 50px auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #agenda .card-agenda{
        margin: 0 auto;
        width: 100%;
        display: flex;
        
    }
    #agenda .agenda-h1 {
        font-size: 40px;
        width: 70%;
        margin: 0 auto;
    }
    #agenda h1{
        font-size: 50px;
        text-align: left;
    }

    #agenda .back-card {
        background: none;
        margin: 0 auto;
        left: 0%;
    }
    #agenda .card{
        width: 150px;
        height: 120px;
    }
    #agenda .info a{
        color: white;
    }
    #agenda .info p {
        font-size: 10px;
        color: white;
    }
    #agenda .card p:nth-child(1) {
        font-size: 45px;
    }
    
    #agenda .card p:last-child {
        font-size: 17px;
    }
    #agenda .info h3 {
        font-size: 18px;
        color: white;
    }
    #video{
        margin: 0 auto;
        width: 100%;
    }
    #video iframe{
        width: 100%;
        margin: 0 auto;
    }
    #musicas{
        background-image: url(../../images/background-mobile-plataformas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1100px;
        margin: -50px auto;
    }
    #musicas .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    #musicas h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #musicas .container-dir{
        margin: 0 auto;
    }
    #musicas .msc-h1 {
        max-width: 250px;
        margin-top: 100px;
    }
    #musicas .container-dir .plataformas{
        margin: 20px auto;
    }
    #musicas .container-dir .plataformas img{
        width: 100%;
    }
    #msc-yout iframe{
        width: 90%;
    }
    #msc-yout{
        background-image: url(../../images/background-mobile-youtube.png);
        margin: 50px auto;
        height: 1000px;
    }
    #msc-yout h3{
        font-size: 30px;
    }
    #contato{
        height: 1100px;
        background-image: url(../../images/background-mobile-redes.png);
        margin: -80px auto;
    }
    #contato .container{
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contato h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #contato .redes-socias img{
        width: 60%;
        gap: 5px;
    }
    .footer-content {
        flex-direction: column;
        margin: 50px auto;
    }

    .footer-content p {
        margin-bottom: 30px;
        order: unset;
    }

    .footer-content p {
        text-align: center;
    }
    #nmr-contato{
        margin: 100px auto;
    }
    #nmr-contato .container{
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
        gap: 30px;
    }
    #central{
        background-image: url(../../images/background-mobile-central.png);
        margin: -50px auto;
        height: 1000px;
    }
    #central .container{
        margin: 0 auto;
        width: 250px;
    }
    #central .container h1 {
        font-size: 50px;
        text-align: left;
    }
    #central .container p{
        font-size: 13px;
    }
    #central .container button{
        width: 150px;
    }

}
@media (min-width: 576px) and (max-width: 767.98px) {
    .background-image {
        height: 100vh;
        background-image: url(../../images/background-mobile.png);
        background-size: cover;
        background-position: center;
    }
    .image-container {
        margin: -30px auto;
        gap: 12px;
        width: 500px;
    }
    .image-container img {
        margin-bottom: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .menu-toggle {
        display: block;
    }
    header nav, .icon-links {
        display: none;
    }
    header .container{
        width: 90%;
    }
    .logo{
        display: flex;
        width: 120px;
    }

    #agenda .container {
        width: 500px;
        margin: 50px auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #agenda .card-agenda{
        margin: 0 auto;
        width: 100%;
        display: flex;
    }
    #agenda .agenda-h1 {
        font-size: 40px;
        width: 70%;
        margin: 0 auto;
    }
    #agenda h1{
        font-size: 50px;
        text-align: left;
    }

    #agenda .back-card {
        background: none;
        margin: 0 auto;
        left: 0%;
    }
    #agenda .card{
        width: 150px;
        height: 120px;
    }
    #agenda .info a{
        color: white;
    }
    #agenda .info p {
        font-size: 10px;
        color: white;
    }
    #agenda .card p:nth-child(1) {
        font-size: 45px;
    }
    
    #agenda .card p:last-child {
        font-size: 17px;
    }
    #agenda .info h3 {
        font-size: 18px;
        color: white;
    }
    #video{
        margin: 0 auto;
        width: 100%;
    }
    #video iframe{
        width: 100%;
        margin: 0 auto;
    }
    #musicas{
        background-image: url(../../images/background-mobile-plataformas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1100px;
        margin: -50px auto;
    }
    #musicas .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    #musicas h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #musicas .container-dir{
        margin: 0 auto;
    }
    #musicas .msc-h1 {
        max-width: 250px;
    }
    #musicas .container-dir .plataformas{
        margin: 20px auto;
    }
    #musicas .container-dir .plataformas img{
        width: 100%;
    }
    #msc-yout iframe{
        width: 90%;
    }
    #msc-yout{
        background-image: url(../../images/background-mobile-youtube.png);
        margin: 50px auto;
        height: 1000px;
    }
    #msc-yout h3{
        font-size: 30px;
    }
    #contato{
        height: 1100px;
        background-image: url(../../images/background-mobile-redes.png);
        margin: -80px auto;
    }
    #contato .container{
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contato h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #contato .redes-socias img{
        width: 60%;
        gap: 5px;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-content img,
    .footer-content p {
        margin-bottom: 10px;
        order: unset;
    }

    .footer-content p {
        text-align: center;
    }
    #nmr-contato{
        margin: 100px auto;
    }
    #nmr-contato .container{
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
        gap: 30px;
    }
    #central{
        background-image: url(../../images/background-mobile-central.png);
        margin: -50px auto;
        height: 1000px;
    }
    #central .container{
        margin: 0 auto;
        width: 250px;
    }
    #central .container h1 {
        font-size: 50px;
        text-align: left;
    }
    #central .container p{
        font-size: 13px;
    }
    #central .container button{
        width: 150px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .background-image {
        height: 100vh;
        background-image: url(../../images/background-tablet.png);
        background-size: cover;
        background-position: center;
    }
    .image-container {
        margin: -30px auto;
        gap: 12px;
        width: 500px;
    }
    .image-container img {
        margin-bottom: 20px;
        width: 100%;
        margin: 0 auto;
    }
    header .container{
        width: 90%;
    }
    .logo{
        display: flex;
        width: 120px;
    }
    .menu-toggle {
        display: block;
    }
    header nav, .icon-links {
        display: none;
    }
    #agenda .container {
        width: 500px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #agenda .card-agenda{
        margin: 0 auto;
        width: 100%;
        display: flex;
    }
    #agenda .agenda-h1 {
        font-size: 40px;
        width: 70%;
        margin: 0 auto;
    }
    #agenda h1{
        font-size: 50px;
        text-align: left;
    }
    #agenda .card p:nth-child(1) {
        font-size: 45px;
    }
    
    #agenda .card p:last-child {
        font-size: 17px;
    }
    #agenda .back-card {
        background: none;
        margin: 0 auto;
        left: 0%;
    }
    #agenda .card{
        width: 150px;
        height: 120px;
    }
    #agenda .info a{
        color: white;
    }
    #agenda .info p {
        font-size: 10px;
        color: white;
    }

    #agenda .info h3 {
        font-size: 18px;
        color: white;
    }
    #video{
        margin: 0 auto;
        width: 100%;
    }
    #video iframe{
        width: 100%;
        margin: 0 auto;
    }
    #musicas{
        background-image: url(../../images/background-mobile-plataformas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1100px;
        margin: -50px auto;
    }
    #musicas .container{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    #musicas h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #musicas .container-dir{
        margin: 0 auto;
    }
    #musicas .msc-h1 {
        max-width: 250px;
    }
    #musicas .container-dir .plataformas{
        margin: 20px auto;
    }
    #musicas .container-dir .plataformas img{
        width: 100%;
    }
    #msc-yout iframe{
        width: 90%;
    }
    #msc-yout{
        background-image: url(../../images/background-mobile-youtube.png);
        margin: -100px auto;
        height: 1100px;
    }
    #msc-yout h3{
        font-size: 30px;
    }
    #contato{
        height: 1100px;
        background-image: url(../../images/background-mobile-redes.png);
        margin: -80px auto;
    }
    #contato .container{
        width: 250px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contato h1 {
        font-size: 50px;
        text-align: left;
        margin: 0 auto;
    }
    #contato .redes-socias img{
        width: 60%;
        gap: 5px;
    }
    .footer-content {
        flex-direction: column;
    }

    .footer-content img,
    .footer-content p {
        margin-bottom: 10px;
        order: unset;
    }

    .footer-content p {
        text-align: center;
    }
    #nmr-contato{
        margin: 100px auto;
    }
    #nmr-contato .container{
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 100%;
        gap: 30px;
    }
    #central{
        background-image: url(../../images/background-mobile-central.png);
        margin: -50px auto;
        height: 1000px;
    }
    #central .container{
        margin: 0 auto;
        width: 250px;
    }
    #central .container h1 {
        font-size: 50px;
        text-align: left;
    }
    #central .container p{
        font-size: 13px;
    }
    #central .container button{
        width: 150px;
    }
    

}
@media (min-width: 992) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) and (max-width: 1399.98px) {

}
@media (min-width: 1400px) {

}
